header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    height: 80px;
    padding-top: 25px;
}


footer {
    background-color: black; 
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 25px;
    right: 5px;
    left: 5px;
    height: 40px;
    padding-left: 20px;
}

figure{
    font-size: 15px;
    border: 3px solid black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    width: 220px;
    height: 220px;
    overflow:hidden;
  
}

.images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
}

nav { 
    flex: 1;
    border: 5px solid black;
}

aside { 
    flex: 3;
    border: 5px solid black;
}
