{{#each photos}}
    <figure data-full="{{this.full}}">
        <img src = "{{this.file}}" alt="{{this.title}}" height="200" width="200"><figcaption>{{this.title}}</figcaption>
    </figure>
{{/each}}
