header {
    background-color: rgb(56, 146, 236);
    color: white;
    text-align: center;
    font-size: 25px;
    height: 50 px;
    width: 100%;
}

h3 {
    display: inline-block;
    margin-left: 100px;
}

#images-flex figure {
    font-size: 15px;
    border: 1.5px solid rgb(37, 90, 168);
    padding: 1px;
    margin: 1.5px;
    text-align: center;
    width: 225px;
    height: 225px;
    overflow:hidden;
    padding-bottom: 18px;
    cursor: pointer;
}

#images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recently-viewed figure {
    font-size: 10px;
    border: 0.4px solid rgb(37, 90, 168);
    padding: 0.3px;
    margin: 2px;
    text-align: center;
    width: 150px;
    height: 150px;
    overflow:hidden;
    padding-bottom: 13px;
    cursor: pointer;
}

figure:hover{
    background-color: rgb(195, 223, 252);
}

main {
    display: flex;
    flex-flow: row wrap;
}

nav { 
    flex: 1.5;
}
article{ 
    flex: 8;
}

aside { 
    flex: 1;
    padding-right: 40px;
}

#search-button {
    background-color: white;
    color: black;
    border: 3px solid lightblue; 
    width: 100px;
    height: 27px;
    margin-left: 15px;
}

#search-input {
    margin-left: 15px;
    height: 20px;
    width: 100px;
}


@media all and (max-width: 767px){
    main{
        flex-direction: column;
    }
    nav {
        text-align: center;
    }
}

@media all and (max-width: 1023px){
    nav {
        flex-basis: 100%;
        text-align: center;
    }
}

#modal-container{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1;
}

#modal-content {
    min-height: 75%;
    max-height: 80%;
    height:auto;
    width: auto;
    margin: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
}

#modal-close {
    top: 30px;
    position: absolute;
    right: 30px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
}

#modal-caption {
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 1.7em;
}

#recently-viewed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#map {
    height: 40%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

table {
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid rgb(37, 90, 168);
    padding: 12px;
}

h3 {
    text-align: right;
}

.category-item {
    cursor: pointer;
    padding-top: 12px;
    padding: 20px; 
}

.category-item:hover {
    background-color: rgb(2, 128, 224); 
}

.selected-category {
    cursor: pointer;
    padding-top: 12px;
    padding: 20px; 
    background-color: rgb(2, 128, 224); 
}

#categories {
    list-style-type: none;
    background-color: rgb(209, 225, 240);
}

#categories li:hover {
    list-style-type: none;
}

#category-title {
    text-align: center;
    color: rgb(2, 128, 224)
}

#weather-info {
    padding-bottom: 10px;
}