<table>
    <caption>{{data.name}}</caption>
    <tbody>
        <tr>
            <td>Current Temperature: </td>
            <td id="temp">{{data.main.temp}} °C</td>
            <td>Max Temperature: </td>
            <td id="max-temp">{{data.main.temp_max}}°C</td>
        </tr>

        </tr>
        <tr>
            <td>Min Temperature: </td>
            <td id="min-temp">{{data.main.temp_min}} °C</td>
            <td>Wind Speed: </td>
            <td id="wind-speed">{{data.wind.speed}}km/h</td>
        </tr>
    </tbody>
</table>