{{#if hometown}}
    Location data of your hometown: {{hometown}}
{{else}}
    {{#if nohometown}}
        You have not set a hometown
    {{else}}
        Login to to view images of your hometown
    {{/if}}
{{/if}}