{{#each imgObjects}}
<figure data-full="{{this.url}}" data-title={{this.date}}>
    <img src="{{this.url}}" alt={{this.date}} height="200" width="200">
    <figcaption>{{this.date}}</figcaption>
</figure>
{{/each}}