{{#if imgObjects}}
<figure data-full="{{imgObjects.url}}" data-title={{imgObjects.date}}>
    <img src="{{imgObjects.url}}" alt={{imgObjects.date}} height="200" width="200">
    <figcaption>{{imgObjects.date}}</figcaption>
</figure>
{{/if}}