header {
    background-color: lightblue;
    color: white;
    text-align: center;
    font-size: 25px;
    height: 50 px;
    padding-top: 25px;
    width: 100%;
}

h3 {
    display: inline-block;
    margin-left: 100px;
}

.login-button {
    float: right;
    margin-top: 15px;
    height: 50px;
    width: 100px;
    margin-right: 50px;
}

#fb{
    float: right;
    margin-top: 15px;
    height: 50px;
    width: 100px;
    margin-right: 50px;
}

footer {
    background-color: black; 
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 25px;
    right: 5px;
    left: 5px;
    height: 30px;
}

figure{
    font-size: 15px;
    border: 3px solid lightblue;
    padding: 20px;
    margin: 5px;
    text-align: center;
    width: 220px;
    height: 220px;
    overflow:hidden;
    padding-bottom: 40px;
}

/* #images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

main {
    display: flex;
}

nav { 
    flex: 1;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

aside { 
    flex: 3;
}



@media all and (max-width: 768px){
    main{
        display:flex;
        flex-direction: column;
    }
}

#modal-container{
    padding-top: 80px;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1;
}

#modal-close {
    top: 30px;
    position: absolute;
    right: 30px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
}

#modal-content {
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
}

#modal-caption {
    color: white;
    text-align: center;
    padding-top: 5px;
}