{{#each photos}}                                                
    <figcaption>                                                
        <img src = "{{this.src}}"> <figcaption>{{this.title}}</figcaption>                                              
    </figcaption>                                               
{{/each}}                                               