header {
    background-color: rgb(56, 146, 236);
    color: white;
    text-align: center;
    font-size: 25px;
    height: 300 px;
    width: 100%;
}

h3 {
    display: inline-block;
    margin-left: 100px;
}

#images-flex figure {
    font-size: 15px;
    border: 1.5px solid rgb(37, 90, 168);
    padding: 2px;
    margin: 1.5px;
    text-align: center;
    width: 240px;
    height: 240px;
    overflow:hidden;
    padding-bottom: 18px;
    cursor: pointer;
}


figure:hover{
    background-color: rgb(195, 223, 252);
}

#images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: row wrap;
}

nav { 
    flex: 2.5;
}

aside { 
    flex: 8;
    padding-right: 40px;
}

@media all and (max-width: 767px){
    main{
        flex-direction: column;
    }
    nav {
        text-align: center;
    }
}

@media all and (max-width: 1023px){
    nav {
        flex-basis: 100%;
        text-align: center;
    }
}

#modal-container{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1;
}

#modal-content {
    min-height: 85%;
    max-height: 90%;
    height:auto;
    width: auto;
    margin: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
}

#modal-close {
    top: 30px;
    position: absolute;
    right: 30px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
}

#modal-caption {
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 1.7em;
}

#map {
    height: 40%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

table {
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid rgb(37, 90, 168);
    padding: 12px;
}

caption {
    font-size: 1.9em;
}

article{ 
    flex: 8;
}

#userlocation {
    cursor: pointer;
    padding-top: 12px;
    padding: 20px; 
}

#userlocation:hover {
    background-color: rgb(2, 128, 224); 
}

#hometown {
    cursor: pointer;
    padding-top: 12px;
    padding: 20px; 
}

#hometown:hover {
    background-color: rgb(2, 128, 224); 
}

#categories {
    list-style-type: none;
    background-color: rgb(209, 225, 240);
}

#weather-info {
    padding-bottom: 10px;
}

h2 {
    display: inline-block;
    margin-left: 100px;
}

h4 {
    display: inline;
    padding-left: 30%;
}

#facebook-login {
    float: right;
    margin-top: 26px;
    height: 50px;
    width: 100px;
    margin-right: 50px;
    font-size: 0.8em;
}

.topnav .login-container {
  float: right;
}

#place {
    display: inline
}

.css-loading {
    text-align: center;
    border: 16px solid rgb(226, 226, 226); 
    border-top: 16px solid rgb(56, 146, 236);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spinning-animation 3s linear infinite;
    margin-left: 30%;
  }
  
  @keyframes spinning-animation {
    100% { transform: rotate(360deg); }
    0% { transform: rotate(0deg); }
  }